.botones{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contS1{
    display: flex;
    flex-wrap: wrap;
}
.contS2{
    display: flex;
    flex-wrap: wrap;
}
.containerbtn{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    height: 25px;
    width: 70px;
    border-radius: 50px;
    background-color: black;
}

.btn_activo{
    width: 40px;
    height: 25px;
    border-radius: 50px;
    margin-left: 25px;
    background-color: rgb(61, 234, 61);

}

.btn_inactivo{
    width: 40px;
    height: 25px;
    border-radius: 50px;
    margin-left: -25px;
    background-color: rgb(243, 90, 84);

}

.txtb{
    font-size:30px;
    margin: 28px;
    margin-top: 10px;
    text-align: center;
}

.btn_activo:hover{
    background-color: white;
}

.btn_inactivo:hover{
    background-color: white;
}

.textS{
    text-align: justify;
    font-size: 22px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   margin-top: -10px;
}