.formulario{
    background-color: white;
    width: 65%;
    height: 600px;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 40px;
 }


 .titA{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
 }

.cont1A{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cont2A{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.txtinputA{
    font-size: 18px;
    font-weight: bold;
    
}

.inpA{
    
    margin: 20px;
    width: 300px;
    height: 25px;
    box-shadow: black 2px 2px 4px;
    
}

.contbtn{
    justify-content: center;
    display: flex;
}

.btn{
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}




@media (max-width: 1442px) {
    .inpA{
    
        margin: 20px;
        width: 230px;
        height: 25px;
        box-shadow: black 2px 2px 4px;
        
    }
  }


  @media (max-width: 1246px) {
    .formulario{
        width: 70%;
        margin-left: 17%;
    }
    .titA{
        font-size: 40px;
    }
    .inpA{
    
        margin: 20px;
        width: 230px;
        height: 25px;
        box-shadow: black 2px 2px 4px;
        
    }

    .cont1A{
        margin-left: 10px;
    }
  }
