.formulario{
    background-color: white;
    width: 65%;
    height: 600px;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 40px;
 }


 .titA{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
 }

.cont1A{
    margin-left: 8%;
    margin-top: 30px;
    
}

.txtinputA{
    font-size: 26px;
    font-weight: bold;
    width: 40px;
    
}

.inpA{
    width: 60%;
    height: 30px;
    margin-left: 30%;
    margin-top: -3%;
    display: block;
    box-shadow: black 2px 2px 4px;
    
}

.contbtn{
    justify-content: center;
    display: flex;
}

.btn{
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}




@media (max-width: 1442px) {
    .inpA{
    
        width: 60%;
        height: 30px;
        margin-left: 30%;
        margin-top: -3%;
        display: block;
        box-shadow: black 2px 2px 4px;
        
    }
  }


  @media (max-width: 1246px) {
    .formulario{
        width: 70%;
        margin-left: 17%;
    }
    .titA{
        font-size: 40px;
    }

    .txtinputA{
        font-size: 22px;
    }
    .inpA{
    
    width: 60%;
    height: 30px;
    margin-left: 30%;
    margin-top: -3%;
    display: block;
    box-shadow: black 2px 2px 4px;
        
    }

  }

  @media (max-width: 930px) {
    .titA{
        font-size: 30px;

    }

    .txtinputA{
        font-size: 20px;
    }
    .inpA{
        width: 50%;
        height: 30px;
        margin-left: 40%;
        margin-top: -3.8%;
        display: block;
        box-shadow: black 2px 2px 4px;
    }

    
  }


  @media (max-width: 640px) {
    .inpA{
        width: 50%;
        height: 30px;
        margin-left: 40%;
        margin-top: -5%;
        display: block;
        box-shadow: black 2px 2px 4px;
    }
  }
