.conteA{
    background-color: white;
    width: 70%;
    margin: 0 auto ;
    height: 870px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.textA{
    font-size: 22px;
    text-align: justify;
    padding: 18px;
}

.contbtnA{
    display: flex;
    justify-content: center;
}

.btncopyA{
    font-size: 30px;
    border: black solid 1px;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.btncopyA:hover{
    background-color: black;
    color: white;
}


@media (max-width: 958px) {
.conteA{
    height: 950px;
}

}


@media (max-width: 640px) {
    .conteA{
        height: 1200px;
    }
    }