.conteRM{
    background-color: white;
    width: 64.5%;
    margin: 0 auto;
    height: 640px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.textRM{
    
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

.contbtnRM{
    display: flex;
    justify-content: center;
}

.btncopyRM{
    font-size: 30px;
    
    border: black solid 1px;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.btncopyRM:hover{
    background-color: black;
    color: white;
}


.estado{
    color: rgb(87, 255, 87);
    text-shadow: 1px 1px 5px black;
}

.estadomalo{
    color: red;
    
    text-shadow: 1px 1px 2px black;
}




@media (max-width: 1260px) {
    .conteRM{
        height: 650px;
    }
}

@media (max-width: 950px) {
    .conteRM{
        height: 690px;
    }
}


@media (max-width: 822px) {
    .conteRM{
        height: 730px;
    }
}


@media (max-width: 722px) {
    .conteRM{
        height: 800px;
    }
}


@media (max-width: 622px) {
    .conteRM{
        height: 850px;
    }
}


@media (max-width: 550px) {
    .conteRM{
        height: 900px;
    }
}

@media (max-width: 494px) {
    .conteRM{
        height: 1200px;
    }
}