.conteRepDe{
    background-color: white;
    width: 64.5%;
    margin-left: 20%;
    height: 600px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.textRepDe{
    
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

.btncopyRepDe{
    font-size: 30px;
    margin-left: 40%;
    border: black solid 1px;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.btncopyRepDe:hover{
    background-color: black;
    color: white;
}


.estado{
    color: rgb(87, 255, 87);
    text-shadow: 1px 1px 5px black;
}

.estadomalo{
    color: red;
    
    text-shadow: 1px 1px 2px black;
}



@media (max-width: 1310px) {

    .conteRepDe{
        height: 640px;
    }

}


@media (max-width: 1065px) {

    .conteRepDe{
        height: 670px;
    }

}

@media (max-width: 890px) {

    .conteRepDe{
        height: 700px;
    }

    .btncopyRepDe{
        margin-left: 35%;
    }

}

@media (max-width: 828px) {

    .conteRepDe{
        height: 730px;
    }

    .btncopyRepDe{
        margin-left: 34%;
    }

}

@media (max-width: 748px) {

    .conteRepDe{
        height: 800px;
    }

    .btncopyRepDe{
        margin-left: 32%;
    }

}

@media (max-width: 666px) {

    .conteRepDe{
        height: 890px;
    }

    .btncopyRepDe{
        margin-left: 28%;
    }

}