.conteRepDe{
    background-color: white;
    width: 64.5%;
    margin-left: 20%;
    height: 740px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.textRepDe{
    
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

.btncopyRepDe{
    font-size: 30px;
    margin-left: 40%;
    border: black solid 1px;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.btncopyRepDe:hover{
    background-color: black;
    color: white;
}


.estado{
    color: rgb(87, 255, 87);
    text-shadow: 1px 1px 5px black;
}

.estadomalo{
    color: red;
    
    text-shadow: 1px 1px 2px black;
}
