.conteRM{
    background-color: rgb(255, 255, 255);
    width: 64.5%;
    margin-left: 20%;
    height: 700px;
    margin-top: 10px;
    border-radius: 10px;
    
}


.textRM{
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}



