.conteRM{
    background-color: rgb(255, 255, 255);
    width: 64.5%;
    margin-left: 20%;
    height: 700px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.textRM {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    justify-content: center;
    display: flex;
    margin-left: 20%;
     /* Espaciado entre líneas */
    /* Otros estilos, si es necesario */
  }

.btnRM{
    font-size: 20px;
    text-align: center;
    margin-left: 50%;
}
