.conteR{
    background-color: rgb(255, 255, 255);
    width: 64.5%;
    height: 950px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    
}


.textR{
    text-align: justify;
    font-size: 22px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

.contbtn{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.btncopyR{
    font-size: 30px;
    
    border: black solid 1px;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.btncopyR:hover{
    background-color: black;
    color: white;
}




@media (max-width: 1208px) {

.conteR{
    height: 1100px;
}

}

@media (max-width: 876px) {

    .conteR{
        height: 1300px;
    }
    
    }
